@use '../abstract' as *;
.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;

    transition: all 0.3s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

    @include respond(tab-port) {
      width: 40%;
    }

    &--p1 {
      top: -1rem;
      right: 0;

      @include respond(tab-port) {
        top: 1.5rem;
        right: 5%;
      }
    }

    &--p2 {
      top: 1rem;
      left: 0;
      @include respond(tab-port) {
        top: 1.5rem;
        left: 5%;
      }
    }

    &--p3 {
      right: 23%;
      top: 10rem;
      @include respond(tab-port) {
        right: 28%;
      }
    }

    &:hover {
      outline: 1.5rem solid var(--color-primary);
      outline-offset: 2rem;
      z-index: 10;
      transform: scale(1.07) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem var(--color-black-a-md);
      @include respond(phone) {
        outline-offset: 5px;
        transform: none;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.94);
    filter: grayscale(0.65) blur(1px);
  }
}
