@use "../abstract" as *;
.comments {
}

.comment {
  width: 75%;
  min-height: 27rem; // 15rem + 6rem + 6rem
  margin: 0 auto;
  box-shadow: 0 2rem 4rem var(--color-black-a-xs);

  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem 9rem 6rem 6rem;

  transform: skewX(-12deg);

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__picture-box {
    width: 15rem;
    height: 15rem;
    float: right;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: translateX(3rem) skewX(12deg);

    overflow: hidden;
    shape-outside: circle(50% at 50% 50%);
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transition: all 0.5s;
  }

  &__figcaption {
    @include absCenter;
    color: var(--color-white);
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transform: translate(50%, 50%);
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &:hover &__picture {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%);
  }

  &:hover &__figcaption {
    opacity: 1;
    transform: translate(50%, -50%);
  }
}
