@use '../abstract' as *;
.comments {
}

.comment {
  width: 75%;
  min-height: 27rem; // 15rem + 6rem + 6rem
  margin: 0 auto;
  box-shadow: 0 2rem 4rem var(--color-black-a-xs);

  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem 9rem 6rem 6rem;

  transform: skewX(-12deg);

  @include respond(tab-port) {
    transform: none;
    width: 80%;
  }

  @include respond(phone) {
    width: 87%;
  }

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__picture-box {
    width: 15rem;
    height: 15rem;
    float: right;
    clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: translateX(3rem) skewX(12deg);

    overflow: hidden;
    shape-outside: circle(50% at 50% 50%);

    @include respond(tab-port) {
      width: auto;
      height: auto;
      border-radius: 2rem;
      float: none;
      transform: none;
      shape-outside: none;
      margin-bottom: 3rem;
      clip-path: none;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transition: all 0.5s;
    @include respond(tab-port) {
      transform: none;
      height: 25rem;
    }
  }

  &__figcaption {
    @include absCenter;
    color: var(--color-white);
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transform: translate(50%, 50%);
    transition: all 0.5s;
    @include respond(tab-port) {
      position: static;
      color: #222;
      opacity: 1;
      transform: none;
      font-size: 3rem;
    }
  }

  &__text {
    transform: skewX(12deg);
    @include respond(tab-port) {
      transform: none;
    }
  }

  &:hover &__picture {
    transform: scale(1.1);
    filter: blur(3px) brightness(80%);
    @include respond(tab-port) {
      filter: none;
      transform: none;
    }
  }

  &:hover &__figcaption {
    opacity: 1;
    transform: translate(50%, -50%);
    @include respond(tab-port) {
      opacity: 1;
      transform: none;
    }
  }
}
