@use '../abstract' as *;
body {
  font-family: var(--font-primary);
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

.heading-primary {
  color: var(--color-white);
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 7.3rem;
    word-spacing: 0.5rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out 0.5s;
    animation-fill-mode: backwards;

    @include respond(tab-port) {
      word-spacing: 0px;
      font-size: 6rem;
    }

    @include respond(phone) {
      word-spacing: 0px;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-out 0.5s;
    animation-fill-mode: backwards;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
}

.heading-secondary {
  text-align: center;
  font-size: 4rem;
  @include respond(tab-port) {
    font-size: 3.4rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
  margin-bottom: 4rem;

  display: inline-block;
  background-image: linear-gradient(
    to left,
    var(--color-primary-light),
    var(--color-primary-dark)
  );

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.25s;

  &:hover {
    transform: skewX(-15deg) skewY(-2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem var(--color-black-a-sm);
  }
}

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: bold;
}
