body {
  font-family: var(--font-primary);
  font-size: var(--default-font-size);
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

.heading-primary {
  color: var(--color-white);
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 7.5rem;
    word-spacing: 0.5rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  &--sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}
