.center-text {
  text-align: center !important;
}

.mt-xl {
  margin-top: 8rem !important;
}

.mb-xs {
  margin-bottom: 1.5rem !important;
}

.mb-sm {
  margin-bottom: 3rem !important;
}

.mb-md {
  margin-bottom: 4rem !important;
}

.mb-lg {
  margin-bottom: 8rem !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}
