.section-about {
  background-color: var(--color-grey-light-1);

  padding: 18rem 0 13rem;
  margin-top: -15vh;
}

.about {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    flex: 0 1 47%;
    margin-left: 5rem;
  }

  &__composition {
    flex: 1 1 50%;
  }
}
