@use "../abstract" as *;
.section-about {
  background-color: var(--color-grey-light-1);

  padding: 20rem 0 27rem;
  margin-top: -15vh;
}

.about {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    flex: 0 1 47%;
    margin-left: 5rem;
  }

  &__composition {
    flex: 1 1 50%;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4-2000w.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-6deg);
  margin-top: -11rem;
  & > * {
    transform: skewY(6deg);
  }
}

.section-tours {
  padding: 25rem 0 15rem;
  background-color: var(--color-grey-light-1);
  margin-top: -10rem;
}

.section-comments {
  padding: 15rem 0;
  min-height: 1000px;
  background-image: linear-gradient(
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url("../img/nat-11-2000w.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 20%;
}

.section-signup {
  padding: 15rem 0;
  background-image: linear-gradient(
    to left,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}
